body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;
    color: #faebeb;
    background-color: white;
}

p {
    color: black;
    font-size: 10px;
    text-align: center;
    margin:5px;
}

footer {
    background-color: #231f20;
    color: white;
    display: block;
    height: 50px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    
}

header {
    background-color: #231f20;
    color: white;
    display: block;
    height: 50px;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;    
    margin: 0px;    
}

.container {
    margin: 60px 30%;
    padding-left: 0px;
    padding-top: 10px;
    background-color: #787779;
    background-size: cover;
    width: 40%;
    position:relative;
    text-align: center;
    font-size: 10px;
}

.top_text {
    text-decoration: none;
    margin-bottom: 0.7%;
    object-position: center;
    vertical-align: text-bottom;
    font-weight: 700;
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    margin: 0px;
}

a {
    color: #fff;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
    object-position: center;
    font-weight: 700;
    font-size: 18px;    
    transition: .5s linear;
}
a:hover:before {
    clip: rect(0, 190px, 190px, 0);
}
a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-content);
    display: inline-block;
    color: #e4c2ff;
    width: 100%;
    clip: rect(0, 0, 190px, 0);
    -webkit-transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
    transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
}
